###  This is the eda notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#load data into df and view
data = pd.read_csv("2018_PUDB_EXPORT_123118.csv")
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65703 entries, 0 to 65702
Data columns (total 82 columns):
Year                65703 non-null int64
AssignedID          65703 non-null int64
Bank                65703 non-null object
FIPSStateCode       65703 non-null int64
FIPSCountyCode      65703 non-null int64
MSA                 65703 non-null int64
FeatureID           65703 non-null int64
Tract               65703 non-null float64
MinPer              65703 non-null float64
TraMedY             65703 non-null int64
LocMedY             65703 non-null int64
Tractrat            65703 non-null float64
Income              65703 non-null int64
CurAreY             65703 non-null int64
IncRat              65703 non-null float64
UPB                 65703 non-null int64
LTV                 65703 non-null float64
MortDate            65703 non-null int64
AcquDate            65703 non-null int64
Purpose             65703 non-null int64
Coop                65703 non-null int64
Product             65703 non-null int64
FedGuar             65703 non-null int64
Term                65703 non-null int64
AmorTerm            65703 non-null int64
SellType            65703 non-null int64
NumBor              65703 non-null int64
First               65703 non-null int64
CICA                65703 non-null int64
BoRace              65703 non-null int64
CoRace              65703 non-null int64
BoGender            65703 non-null int64
CoGender            65703 non-null int64
BoAge               65703 non-null int64
CoAge               65703 non-null int64
Occup               65703 non-null int64
NumUnits            65703 non-null int64
Bed1                65703 non-null int64
Bed2                65703 non-null int64
Bed3                65703 non-null int64
Bed4                65703 non-null int64
Aff1                65703 non-null int64
Aff2                65703 non-null int64
Aff3                65703 non-null int64
Aff4                65703 non-null int64
Rent1               65703 non-null int64
Rent2               65703 non-null int64
Rent3               65703 non-null int64
Rent4               65703 non-null int64
RentUt1             65703 non-null int64
RentUt2             65703 non-null int64
RentUt3             65703 non-null int64
RentUt4             65703 non-null int64
Geog                65703 non-null int64
Rate                65703 non-null float64
Amount              65703 non-null int64
Front               65703 non-null float64
Back                65703 non-null float64
BoCreditScore       65703 non-null int64
CoBoCreditScore     65703 non-null int64
PMI                 65703 non-null float64
Self                65703 non-null int64
PropType            65703 non-null object
ArmIndex            65703 non-null int64
ArmMarg             65703 non-null int64
PrepayP             65703 non-null object
BoEth               65703 non-null int64
Race2               65703 non-null int64
Race3               65703 non-null int64
Race4               65703 non-null int64
Race5               65703 non-null int64
CoEth               65703 non-null int64
Corace2             65703 non-null int64
Corace3             65703 non-null int64
Corace4             65703 non-null int64
Corace5             65703 non-null int64
HOEPA               65703 non-null int64
LienStatus          65703 non-null int64
SpcHsgGoals         65703 non-null int64
FedFinStbltyPlan    65703 non-null int64
AcqTyp              65703 non-null int64
GSEREO              65703 non-null int64
dtypes: float64(9), int64(70), object(3)
memory usage: 41.1+ MB

,Year,AssignedID,Bank,FIPSStateCode,FIPSCountyCode,MSA,FeatureID,Tract,MinPer,TraMedY,...,Corace2,Corace3,Corace4,Corace5,HOEPA,LienStatus,SpcHsgGoals,FedFinStbltyPlan,AcqTyp,GSEREO
0,2018,2131406,Atlanta,24,21,47900,9999999999,7512.01,29.85,93261,...,6,6,6,6,2,1,2,2,1,2
1,2018,2131407,Atlanta,24,17,47900,9999999999,8509.04,67.24,112623,...,6,6,6,6,2,1,2,2,1,2
2,2018,2131408,Atlanta,51,153,47900,9999999999,9012.36,40.76,140156,...,6,6,6,6,2,1,2,2,1,2
3,2018,2131409,Atlanta,51,59,47900,9999999999,4221.02,75.97,89250,...,8,8,8,8,2,1,2,2,1,2
4,2018,2131410,Atlanta,24,5,12580,9999999999,4924.02,64.56,81397,...,8,8,8,8,2,1,2,2,1,2

In [4]:
#look at how many bank districts
data.Bank.value_counts()

Chicago          12994
Topeka            9577
Indianapolis      9514
Cincinnati        8955
Des Moines        8738
Dallas            5269
Pittsburgh        3566
Boston            2671
San Francisco     2294
New York          1124
Atlanta           1001
Name: Bank, dtype: int64